[allnodes]
{% for node in nodes %}
{{ node.nodeIP }} ansible_ssh_extra_args='-o StrictHostKeyChecking=no' hostname={{ node.nodeName }} api_interface={{ node.managementCard }} ceph_public_interface={{ node.storagePublicCard }} ceph_cluster_interface={{ node.storageClusterCard }} flat_network_interface="{{ node.flatManagementList }}" vlan_network_interface="{{ node.vlanManagementDict }}" ceph_volume_data="{{ node.cephVolumeData }}" bcache_map_list="{{ node.cephVolumeCacheData }}" nic_info="{{ node.nicInfo }}" lvm_pv_device="{{ node.lvmVolumeData }}" local_device="{{ node.localVolumeData }}" external_manage_ip="{{ node.nodeIP }}" vdi_storage_num="{{ node.vdiResourceSize }}" voi_storage_num="{{ node.voiResourceSize }}" vdi_file_storage_num="{{ node.isoResourceSize }}" cloud_disk_num="{{ node.shareDiskSize }}"
{% endfor %}


[control]
{% for node in nodes %}
{% if "CONTROL" in node.nodeType %}
{{ node.nodeIP }}
{% endif %}
{% endfor %}

[compute]
{% for node in nodes %}
{% if "COMPUTE" in node.nodeType %}
{{ node.nodeIP }}
{% endif %}
{% endfor %}

[storage]
{% for node in nodes %}
{% if "STORAGE" in node.nodeType %}
{{ node.nodeIP }}
{% endif %}
{% endfor %}

[ceph:children]
ceph-mons
ceph-osds
ceph-mdss
ceph-mgrs
ceph-radosgws

[ceph-mons:children]
control

[ceph-osds:children]
storage

[ceph-mdss:children]
ceph-mons

[ceph-mgrs:children]
control

[ceph-radosgws:children]
control

[voi:children]
control

[baremetal:children]
control
compute
storage

[haproxy:children]
control

[keepalived:children]
control

[mariadb:children]
control

[redis:children]
control

[emqx:children]
control

[libvirt:children]
compute

[trochilus-api:children]
control

[trochilus-agent:children]
compute

[prometheus:children]
control

[alertmanager:children]
control

[node-exporter:children]
control
compute
storage

[collectd-exporter:children]
control
compute
storage

[host-exporter:children]
control
compute
storage

[docker-exporter:children]
control
compute
storage

[prometheus-thanos-query:children]
control

[prometheus-thanos-sidecar:children]
control

[fsd:children]
control

[guest-service:children]
compute

[websockify:children]
control

[btserver:children]
control

[btserver_tracker:children]
control
